{% extends 'base.html'%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title%}
    <title>&#10060;Заметка удалена&#10060; </title>
    {% endblock %}
</head>
<body>
    {% block body %}
    {{ super() }}
    <p> Заметка успешно удалена&#10060;вернуть на <a href="{{ url_for('index')}}">главную</a> страницу </p>
    {%endblock%}
</body>
</html>