{% extends 'base.html' %}
{% block title%}
<title>	&#128400;Авторизация	&#128400;</title>
{% endblock %}
{% block body %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<h1>	&#128400;Авторизация	&#128400;</h1>
<style>@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ======================== */

.ball-wrapper {
    height: 200px;
    position: relative;
}
.ball {
margin-top:14%;
    width: 100px;
    height: 100px;
    background: #c35a14;
    border-radius: 50%;
    border: 2px solid #000;
    background-image:
    radial-gradient(circle at -10px 20px, transparent 47px, #000 50px, #000 25px, transparent 0),
    radial-gradient(circle at 110px 70px, transparent 47px, #000 50px, transparent 0),
    linear-gradient(110deg, transparent 60px, #000 63px, transparent 0),
    linear-gradient(18deg, transparent 56px, #000 60px, transparent 0);
    animation: bounce .5s cubic-bezier(.8, -.5, .2, 1.4) infinite alternate;
}
.shadow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: -1;
    animation: shadow .5s cubic-bezier(.8,-.5,.2,1.4) infinite alternate;
}
@keyframes bounce {
    100% {
        transform: translate3d(0, 100px, 0)
        scale3d(1.05, 0.95, 1);
    }
}
@keyframes shadow {
    0% {
        transform: rotateX(80deg)
        scale3d(0.5, 0.5, 1);
        background-color: rgba(0, 0, 0, 0.1);
    }
    100% {
        transform: rotateX(80deg)
        scale3d(.8, .8, 1);
        background-color: rgba(0, 0, 0, 0.5);
    }</style>
<form action="" method="post" class="form-contact">
    {{form.hidden_tag()}}

    {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
	<p>{{ field.label() }}
	{% if field.errors %}
		{{ field(class="invalid") }}
	<label class="invalid-feedback">
		{% for e in field.errors %}
		{{ e }}
		{% endfor %}
	</label>
	{% else %}
		{{ field() }}
	{% endif %}
{% endfor %}

    <p>{{ form.remember.label() }} {{form.remember()}}
    <p>{{form.submit() }}
<hr align=left width="300px">
<p><a href="{{url_for('register')}}">Регистрация</a>
</form>
<div class="ball-wrapper">
    <div class="ball"></div>
    <div class="shadow"></div>
  </div>
{% endblock %}